{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ super() }} - Users{% endblock %}

{% block page_content %}
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="formModalLabel">New User</h4>
      </div>

      <form method="post" class="form" role="form">
        <div class="modal-body">
  	  {{ form.hidden_tag() }}
	  {{ wtf.form_errors(form, hiddens="only") }}
	  {{ wtf.form_field(form.email) }}
	  {{ wtf.form_field(form.username) }}
	  {{ wtf.form_field(form.password) }}
	  {{ wtf.form_field(form.password2) }}
	  {{ wtf.form_field(form.confirmed) }}
	  {{ wtf.form_field(form.role) }}
	  {{ wtf.form_field(form.name) }}
	  {{ wtf.form_field(form.location) }}
	  {{ wtf.form_field(form.about_me) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Create">
        </div>
      </form>

    </div>
  </div>
</div>
<!-- end Modal -->

<div class="panel panel-default">
  <div class="panel-heading">Manage Users</div>
  <div class="panel-body">
    <div class="table-menu">
      <button type="button"
	      class="btn btn-primary btn-small"
	      data-toggle="modal"
	      data-target="#formModal">
	New User
      </button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
    	  <th>email</th>
	  <th>username</th>
    	  <th>role</th>
    	  <th>member since</th>
	  <th>last active</th>
	  <th>status</th>
	  <th>view</th>
    	  <th>delete</th>
        </tr>
      </thead>
      <tbody>
	{% for user in users %}
	<tr>
    	  <td>{{ user.email }}</td>
	  <td>{{ user.username }}</td>
    	  <td>{{ user.role }}</td>
    	  <td>{{ user.member_since.strftime('%Y-%m-%d') }}</td>
	  <td>{{ user.last_seen.strftime('%Y-%m-%d') }}</td>
	  <td>{% if user.confirmed %}Confirmed{% else %}Unconfirmed{% endif %}</td>
	  <td><a href="{{ url_for('.user', id=user.id) }}">details</a></td>
    	  <td><a href="{{ url_for('.user_delete', id=user.id) }}"
		 onClick="return confirm('Delete user?')">
    	      <span class="glyphicon glyphicon-trash"</span></td>
	</tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if pagination %}
  <div class="pagination">
      {{ macros.pagination_widget(pagination, '.users') }}
  </div>
{% endif %}

{% endblock %}
